{% extends "bash/base.html" %} 
{% block content %}
<div class="article-intro" id="content">
<h1>Shell 输入/输出重定向</h1>
<p>大多数 UNIX 系统命令从你的终端接受输入并将所产生的输出发送回​​到您的终端。一个命令通常从一个叫标准输入的地方读取输入，默认情况下，这恰好是你的终端。同样，一个命令通常将其输出写入到标准输出，默认情况下，这也是你的终端。
</p>
<p>重定向命令列表如下：</p>
<table class="table table-bordered table-striped">
	
	<tbody>
		<tr>
			<th style="width:129px;">
				命令</th>
			<th style="width:409px;">
				说明</th>
		</tr>
		<tr>
			<td>
				command &gt; file</td>
			<td>
				将输出重定向到 file。</td>
		</tr>
		<tr>
			<td>
				command &lt; file</td>
			<td>
				将输入重定向到 file。</td>
		</tr>
		<tr>
			<td>
				command &gt;&gt; file</td>
			<td>
				将输出以追加的方式重定向到 file。</td>
		</tr>
		<tr>
			<td>
				n &gt; file</td>
			<td>
				将文件描述符为 n 的文件重定向到 file。</td>
		</tr>
		<tr>
			<td>
				n &gt;&gt; file</td>
			<td>
				将文件描述符为 n 的文件以追加的方式重定向到 file。</td>
		</tr>
		<tr>
			<td>
				n &gt;&amp; m</td>
			<td>
				将输出文件 m 和 n 合并。</td>
		</tr>
		<tr>
			<td>
				n &lt;&amp; m</td>
			<td>
				将输入文件 m 和 n 合并。</td>
		</tr>
		<tr>
			<td>
				&lt;&lt; tag</td>
			<td>
				将开始标记 tag 和结束标记 tag 之间的内容作为输入。</td>
		</tr>
	</tbody>
</table>
<blockquote>
<p>需要注意的是文件描述符 0 通常是标准输入（STDIN），1 是标准输出（STDOUT），2 是标准错误输出（STDERR）。</p></blockquote>
<hr>
<h2>输出重定向</h2>
<p>重定向一般通过在命令间插入特定的符号来实现。特别的，这些符号的语法如下所示:</p>
<pre class="prettyprint lang-bash">command1 &gt; file1</pre>
<p>
上面这个命令执行command1然后将输出的内容存入file1。</p><p>注意任何file1内的已经存在的内容将被新内容替代。如果要将新内容添加在文件末尾，请使用&gt;&gt;操作符。
</p>
<h3>实例</h3>
<p>执行下面的 who 命令，它将命令的完整的输出重定向在用户文件中(users):</p>
<pre class="prettyprint lang-bash">
$ who &gt; users</pre>
<p>执行后，并没有在终端输出信息，这是因为输出已被从默认的标准输出设备（终端）重定向到指定的文件。</p>
<p>你可以使用 cat 命令查看文件内容：</p>
<pre class="prettyprint lang-bash">
$ cat users
_mbsetupuser console  Oct 31 17:35 
tianqixin    console  Oct 31 17:35 
tianqixin    ttys000  Dec  1 11:33 </pre>
<p>输出重定向会覆盖文件内容，请看下面的例子：</p>
<pre class="prettyprint lang-bash">
$ echo "菜鸟教程：www.runoob.com" &gt; users
$ cat users
菜鸟教程：www.runoob.com
$</pre>
<p>如果不希望文件内容被覆盖，可以使用 &gt;&gt; 追加到文件末尾，例如：</p>
<pre class="prettyprint lang-bash">
$ echo "菜鸟教程：www.runoob.com" &gt;&gt; users
$ cat users
菜鸟教程：www.runoob.com
菜鸟教程：www.runoob.com
$</pre>
<hr>
<h2>输入重定向</h2>

<p>
和输出重定向一样，Unix 命令也可以从文件获取输入，语法为：
</p>



<pre class="prettyprint lang-bash">command1 &lt; file1</pre><p>
这样，本来需要从键盘获取输入的命令会转移到文件读取内容。
</p><p>
注意：输出重定向是大于号(&gt;)，输入重定向是小于号(&lt;)。
</p>
<h3>实例</h3>
<p>接着以上实例，我们需要统计 users 文件的行数,执行以下命令：</p>
<pre class="prettyprint lang-bash">
$ wc -l users
2 users</pre>
<p>也可以将输入重定向到 users 文件：</p>
<pre class="prettyprint lang-bash">
$  wc -l &lt; users
       2 </pre>
<p>注意：上面两个例子的结果不同：第一个例子，会输出文件名；第二个不会，因为它仅仅知道从标准输入读取内容。</p>



<pre class="prettyprint lang-bash">command1 &lt; infile &gt; outfile</pre>
<p>同时替换输入和输出，执行command1，从文件infile读取内容，然后将输出写入到outfile中。</p>

<h3>重定向深入讲解</h3>
<p>一般情况下，每个 Unix/Linux 命令运行时都会打开三个文件：</p>
<ul>
	<li>
		标准输入文件(stdin)：stdin的文件描述符为0，Unix程序默认从stdin读取数据。</li>
	<li>
		标准输出文件(stdout)：stdout 的文件描述符为1，Unix程序默认向stdout输出数据。</li>
	<li>
		标准错误文件(stderr)：stderr的文件描述符为2，Unix程序会向stderr流中写入错误信息。</li>
</ul>
<p>
默认情况下，command &gt; file 将 stdout 重定向到 file，command &lt; file 将stdin 重定向到 file。</p>
<p>如果希望 stderr 重定向到 file，可以这样写：</p>
<pre class="prettyprint lang-bash">
$ command 2 &gt; file</pre>
<p>如果希望 stderr 追加到 file 文件末尾，可以这样写：</p>
<pre class="prettyprint lang-bash">$ command 2 &gt;&gt; file</pre>
<p><b>2</b> 表示标准错误文件(stderr)。</p>
<p>如果希望将 stdout 和 stderr 合并后重定向到 file，可以这样写：</p>
<pre class="prettyprint lang-bash">$ command &gt; file 2&gt;&amp;1

或者

$ command &gt;&gt; file 2&gt;&amp;1</pre>
<p>如果希望对 stdin 和 stdout 都重定向，可以这样写：</p>
<pre class="prettyprint lang-bash">$ command &lt; file1 &gt;file2</pre>
<p>command 命令将 stdin 重定向到 file1，将 stdout 重定向到 file2。 </p>
<hr>
<h2>Here Document</h2>
<p>
Here Document 是 Shell 中的一种特殊的重定向方式，用来将输入重定向到一个交互式 Shell 脚本或程序。 </p>
<p>它的基本的形式如下：</p>
<pre class="prettyprint lang-bash">command &lt;&lt; delimiter
    document
delimiter</pre>
<p>它的作用是将两个 delimiter 之间的内容(document) 作为输入传递给 command。</p>
<blockquote>
<p>注意：</p>
<ul>
	<li>
		结尾的delimiter 一定要顶格写，前面不能有任何字符，后面也不能有任何字符，包括空格和 tab 缩进。</li>
	<li>
		开始的delimiter前后的空格会被忽略掉。</li>
</ul>
</blockquote>

<h3>实例</h3>
<p>在命令行中通过 wc -l 命令计算 Here Document 的行数：</p>

<pre class="prettyprint lang-bash">$ wc -l &lt;&lt; EOF
    欢迎来到
    菜鸟教程
    www.runoob.com
EOF
3          # 输出结果为 3 行
$</pre>

<p>我们也可以将 Here Document 用在脚本中，例如：</p>
<pre class="prettyprint lang-bash">#!/bin/bash
# author:菜鸟教程
# url:www.runoob.com

cat &lt;&lt; EOF
欢迎来到
菜鸟教程
www.runoob.com
EOF</pre>
<p>
执行以上脚本，输出结果：
</p>
<pre class="prettyprint lang-bash">欢迎来到
菜鸟教程
www.runoob.com</pre>
<hr>
<h2>/dev/null 文件</h2>
<p>如果希望执行某个命令，但又不希望在屏幕上显示输出结果，那么可以将输出重定向到 /dev/null：</p>
<pre class="prettyprint lang-bash">$ command &gt; /dev/null</pre>
<p>/dev/null 是一个特殊的文件，写入到它的内容都会被丢弃；如果尝试从该文件读取内容，那么什么也读不到。但是 /dev/null 文件非常有用，将命令的输出重定向到它，会起到"禁止输出"的效果。</p>
<p>如果希望屏蔽 stdout 和 stderr，可以这样写：</p>
<pre class="prettyprint lang-bash">$ command &gt; /dev/null 2&gt;&amp;1</pre>
<blockquote>
<p><b>注意：</b>0 是标准输入（STDIN），1 是标准输出（STDOUT），2 是标准错误输出（STDERR）。</p></blockquote>			<!-- 其他扩展 -->
<pre class="prettyprint lang-bash">$ command &gt; file 2&gt;&amp;1
$ command &gt;&gt; file 2&gt;&amp;1</pre>
<p data-title="Shell 重定向 2>&amp;1 含义说明" data-commid="35273">这里的<span class="label label-info">&amp;</span>没有固定的意思</p>

<p>放在<span class="label label-info">&gt;</span>后面的<span class="label label-info">&amp;</span>，表示重定向的目标不是一个<span class="label label-info">文件</span>，而是一个<span class="label label-info">文件描述符</span>，内置的文件描述符如下</p>
<pre class="prettyprint lang-bash">1 =&gt; stdout
2 =&gt; stderr
0 =&gt; stdin</pre>
<p>换言之 <span class="label label-info">2&gt;1</span> 代表将<span class="label label-info">stderr</span>重定向到当前路径下文件名为<span class="label label-info">1</span>的<span class="label label-info">regular file</span>中，而<span class="label label-info">2&gt;&amp;1</span>代表将<span class="label label-info">stderr</span>重定向到<span class="label label-info">文件描述符</span>为<span class="label label-info">1</span>的文件(即<span class="label label-info">/dev/stdout</span>)中，这个文件就是<span class="label label-info">stdout</span>在<span class="label label-info">file system</span>中的映射</p>
<p>而<span class="label label-info">&amp;&gt;file</span>是一种特殊的用法，也可以写成<span class="label label-info">&gt;&amp;file</span>，二者的意思完全相同，都等价于</p>
<pre class="prettyprint lang-bash">&gt;file 2&gt;&amp;1</pre>
<p>此处<span class="label label-info">&amp;&gt;</span>或者<span class="label label-info">&gt;&amp;</span>视作整体，分开没有单独的含义</p>
<hr>
<p><strong>顺序问题：</strong></p>
<pre class="prettyprint lang-bash">find /etc -name .bashrc &gt; list 2&gt;&amp;1
# 我想问为什么不能调下顺序,比如这样
find /etc -name .bashrc 2&gt;&amp;1 &gt; list</pre>
<p>这个是从左到右有顺序的</p>

<p>第一种</p>
<pre class="prettyprint lang-bash">xxx &gt; list 2&gt;&amp;1</pre>
<p>先将要输出到<span class="label label-info">stdout</span>的内容重定向到文件，此时文件<span class="label label-info">list</span>就是这个程序的<span class="label label-info">stdout</span>，再将<span class="label label-info">stderr</span>重定向到<span class="label label-info">stdout</span>，也就是文件<span class="label label-info">list</span></p>

<p>第二种</p>
<pre class="prettyprint lang-bash">xxx 2&gt;&amp;1 &gt; list</pre>

<p>先将要输出到<span class="label label-info">stderr</span>的内容重定向到<span class="label label-info">stdout</span>，此时会产生一个<span class="label label-info">stdout</span>的拷贝，作为程序的<span class="label label-info">stderr</span>，而程序原本要输出到<span class="label label-info">stdout</span>的内容，依然是对接在<span class="label label-info">stdout原身</span>上的，因此第二步重定向<span class="label label-info">stdout</span>，对<span class="label label-info">stdout</span>的拷贝不产生任何影响</p>
</div>
{% endblock %}