<ul class="nav navbar-nav">
	<li class="active"><a href="/index">首页</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				服务端教程<b class="caret"></b>
		</a>
		<ul class="dropdown-menu menu-top">
			<li><a href="/linux/index">Linux</a></li>
			<li><a href="/regex">正则表达式</a></li>
			<li><a href="/design_model">设计模式</a></li>
			<li><a href="/docker">Docker</a></li>
			<li><a href="/maven">Maven</a></li>
			<li><a href="/python3">Python3.x</a></li>
			<li><a href="/bash/index">Bash</a></li>
			<li><a href="/java8">Java</a></li>
			<li><a href="/perl5">Perl</a></li>
			<li><a href="/cpp">C++</a></li>
			<li><a href="/go">Go</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				数据库教程<b class="caret"></b>
		</a>
		<ul class="dropdown-menu menu-top">
			<li><a href="#">标准SQL</a></li>
			<li><a href="#">MySql/MariasDB</a></li>
			<li><a href="#">Oracle</a></li>
			<li><a href="#">SqlServer</a></li>
			<li><a href="#">Sybase</a></li>
			<li><a href="#">SQLite</a></li>
			<li><a href="#">PostgreSQL</a></li>
			<li><a href="#">MongoDB</a></li>
			<li><a href="#">Redis</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				网页端教程<b class="caret"></b>
		</a>
		<ul class="dropdown-menu menu-top">
			<li><a href="#">Html5</a></li>
			<li><a href="#">JavaScript</a></li>
			<li><a href="#">CSS</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				移动端教程<b class="caret"></b>
		</a>
		<ul class="dropdown-menu menu-top">
			<li><a href="#">Android</a></li>
			<li><a href="#">Kotlin</a></li>
			<li><a href="#">Gradle</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				程序基础教程<b class="caret"></b>
		</a>
		<ul class="dropdown-menu menu-top">
			<li><a href="#">组合数学</a></li>
			<li><a href="#">线性代数</a></li>
			<li><a href="#">概率统计</a></li>
			<li><a href="#">微积分</a></li>
			<li><a href="#">数论</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				前沿科技教程<b class="caret"></b>
		</a>
		<ul class="dropdown-menu menu-top">
			<li><a href="#">极客技术</a></li>
			<li><a href="#">机器学习</a></li>
			<li><a href="#">深度学习</a></li>
			<li><a href="#">数据挖掘</a></li>
			<li><a href="#">网络爬虫</a></li>
			<li><a href="#">语音合成</a></li>
			<li><a href="#">语音识别</a></li>
			<li><a href="#">区块链</a></li>
			<li><a href="#">3D建模</a></li>
			<li><a href="#">Unity3D</a></li>
		</ul>
	</li>
</ul>